.navbar {
    background-color: #D3E3FD;

    .navbar-nav {
        display: flex;
        align-items: center;
    }

    .navbar-brand {
        img {
            max-height: 40px;
        }
    }

    li {
        cursor: pointer !important;
    }

}


.nav-item .nav-link {
    padding: 6px 17px;
}

/* Active state styling */
.nav-item.active .nav-link {
    font-weight: 600;
    border-radius: 200px;
    background-color: rgb(199, 221, 251);
    color: #005CBB !important;
}

.hover:hover {
    border-radius: 200px;
    background-color: rgb(199, 221, 251);
    color: #005CBB !important;
}




/// feather icon scss</>