<nav class="navbar fixed-navbar  bg-body-tertiary"
    [ngClass]="{'sidebar-expanded': isSidebarExpanded, 'sidebar-collapsed': !isSidebarExpanded}">
    <ul class="nav">
        <li class="nav-item  d-md-block d-xl-none ">
            <a class="nav-link">
                <i class="bx bx-menu" id="sidebar-open"> </i>
            </a>
        </li>
        <li class="nav-item d-none  d-sm-none d-md-block">
            <a class="navbar-brand">
                <img src="/assets/images/log-back-e.svg" alt="" width="50" height="54">
                <span class="logo_name">
                    <span class="logo_part1">Exa</span><span class="logo_part2">mify</span>
                </span>
            </a>
        </li>

    </ul>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link dark-light">
                <i class="bx bx-bell" id="notification"></i>
            </a>
        </li>
        <li class="nav-item" (click)="toggleTheme()">
            <a class="nav-link dark-light">
                <i *ngIf="!isDarkMode" class="bx bx-moon" id="DarkMode"></i>
                <i *ngIf="isDarkMode" class="bx bx-sun" id="light-mode"></i>
            </a>
        </li>
        <li class="nav-item user-item  d-none d-md-block">
            <a class="nav-link " *ngIf="user!=null">
                <span class="user-name">{{user.firstName}}</span>
                <span class="user-role">{{user.authorities[0].authority}}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-inline-block " ngbDropdown>
                <div class="position-relative">
                    <img class="round" height="35" width="35" src="../../../../assets/images/user.png" alt=""
                        id="dropdownBasic1" ngbDropdownToggle>
                    <span class="avatar-status-online"></span>
                </div>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem><i data-feather="user" size="15"></i> Profile</button>
                    <div class="dropdown-divider"></div>
                    <button ngbDropdownItem (click)="logout() "><i data-feather="log-out" size="15"></i> Log
                        out</button>
                </div>
            </a>
        </li>
    </ul>
</nav>