<nav class="navbar navbar-expand-sm fixed-navbar "
    [ngClass]="{'sidebar-expanded': isSidebarExpanded, 'sidebar-collapsed': !isSidebarExpanded}">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link"> <i class="bx bx-menu" id="sidebar-open">
                    </i></a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item user-item">
                <a class="nav-link " *ngIf="user">
                    <span class="user-name">{{user?.firstName}}</span>
                    <span class="user-role">{{user.authorities[0]?.authority}}</span>
                </a>
            </li>
            <li class="nav-item">

                <a class="nav-link d-inline-block " ngbDropdown>

                    <div class="position-relative">

                        <img class="round" height="35" width="35" src="../../../../assets/images/user.png" alt=""
                            id="dropdownBasic1" ngbDropdownToggle>
                        <span class="avatar-status-online"></span>
                    </div>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem><i data-feather="user" size="15"></i> Profile</button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem (click)="logout() "><i data-feather="log-out" size="15"></i> Log
                            out</button>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>