<div class="container-fluid category-wrapper ">
  <div class="row">
    <div class="col-12 mb-2  d-flex justify-content-between">
      <h4 class="page-heading">Quizzes</h4>
      <button type="button" class="btn btn-primary btn-sm" [routerLink]="'/admin/quizzes/add-quiz'">Add quiz</button>
    </div>
    <div class="col-12">
      <div class="card  mb-3" *ngFor="let quiz of quizzes" >
        <div class="card-body">
          <div class="row">
            <div class="col-12 flex mb-1">
              <img src="../../../../assets/category/questionary.png" alt="" width="48px" height="48px">
              <div class="ms-2">
                <h5 class="card-title mb-0">{{quiz.title}}</h5>
                <p class="card-text"><small class="text-body-secondary">{{quiz.category.title}}</small></p>
              </div>
            </div>
            <div class="col-12">
              <p class="card-text">{{quiz.description}}</p>
            </div>
            <div class="col-md-6 col-12 flex align-items-center gap-1">
              <span class="badge rounded-pill text-bg-light">Max Marks: {{quiz.maxMarks}}</span>
              <span class="badge rounded-pill text-bg-light">Questions: {{quiz.numOfQuestions}}</span>
            </div>
            <div class="col-md-6 col-12 flex align-items-center justify-content-end gap-1">
              <button type="button" class="btn btn-sm btn-outline-secondary">Questions</button>
              <button type="button" class="btn btn-sm btn-outline-primary">Attempts</button>
              <button type="button" class="btn btn-sm btn-success">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>