<div class=" card profile-card">
    <div class="profile-background ">
        <img src="/assets/user-profile/pexels-pixabay-268533.jpg" class="card-img-top" alt="Background Image">
    </div>
    <div class="card-body">
        <div class="profile-content">
            <div class="profile-picture">
                <img [src]="profileImageSrc" alt="Profile Picture" class="img-fluid rounded-circle">
                <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)" hidden>
            </div>
            <div class="edit-img" (click)="fileInput.click()">
                <i class="bi bi-plus"></i>
            </div>
            <div class="row m-0" >
                <div class="col-12 flex justify-content-end">
                    <button type="button" class="btn btn-success">Edit profile</button>
                </div>
                {{user.email}}
            </div>

        </div>


    </div>

</div>