<div class=" card profile-card">
    <div class="profile-background ">
        <img src="/assets/user-profile/pexels-pixabay-268533.jpg" class="card-img-top" alt="Background Image">
    </div>
    <div class="card-body">
        <div class="profile-content">
            <div class="profile-picture">
                <img [src]="profileImageSrc" alt="Profile Picture" class="img-fluid rounded-circle">
                <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)" hidden>
            </div>
            <div class="edit-img" (click)="fileInput.click()">
                <i class="bi bi-plus"></i>
            </div>
            <div class="row m-0">
                <div class="col-12 flex justify-content-end">
                    <button type="button" class="btn btn-success ">Edit profile</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card ">
    <div class="card-body">
        <h5 class="card-title">Personal info</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item personal-info">
                <div class="icon-box">
                    <i class='bx bx-envelope'></i>
                </div>
            </li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
    </div>
</div>