.profile-card {
    margin-bottom: 2rem;

    .profile-background img {
        height: 190px;
        object-fit: cover;
    }

    .img-overlay-content {
        height: 200px;
        padding-bottom: 0;
        color: #fff;

        .overly-item {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-top: 7rem;
        }
    }

    .text-with-shadow {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .text-with-background {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 5px;
        border-radius: 5px;
    }

    .profile-picture {
        display: inline-block;
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        // margin-top: -5rem;
        border: 5px solid white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    .profile-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .edit-img {
        position: relative;
        bottom: 10px;
        right: 0;
        left: 75px;
        margin-top: -2rem;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #005CBB;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 3px solid white;
    }




}

.list-group {
    box-shadow: none;
}

.list-group-item {
    display: flex;
    align-items: center;
    border-bottom: none;
    background-color: transparent !important;

    .icon-box {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        border-radius: 8px;
        margin-right: 15px;
        background: rgb(225, 225, 225);

        i {
            font-size: 22px;
            color: #495057;
        }
    }

    .info-text {
        display: flex;
        flex-direction: column;

        .info-value {
            font-weight: 500;
            font-size: 15px;
            margin: 0;
        }

        .info-label {
            color: #6c757d;
            margin: 0;
            font-size: 14px;
        }

    }



}



.dark {
    .list-group-item {
        background-color: transparent !important;
    }
}

.btn-outline-success {
    border-color: #28c76f !important;
    color: #28c76f !important;

    span {
        cursor: pointer !important;
    }

    &:hover {
        background-color: rgba(40, 199, 111, 0.2);
        color: #28c76f
    }

    &:active:focus {
        background-color: rgba(40, 199, 111, 0.3);
        color: #28c76f
    }

    &:active::after {
        transform: scale(2.5);
        opacity: 0;
        transition: transform 0.5s ease, opacity 0.8s;
    }
}