<div class="container-fluid category-wrapper ">
    <div class="row">
        <div class="col-12 mb-2  d-flex justify-content-between">
            <h3 class="page-heading">Categories</h3>
            <button type="button" class="btn btn-primary btn-sm">Add Category</button>
        </div>
    </div>
    <!-- <div class="card">

        <i class="bi bi-code-slash"></i>
        <p>categories works!</p>
    </div> -->

    <div class="list-group">
        <div class="list-group-item list-group-item-action " aria-current="true">
            <div class="icon">
                
            </div>
            <div class="d-flex w-100 justify-content-between">
                <div>
                    <h5 class="mb-1">List group item heading</h5>
                    <p class="mb-1">Some placeholder content in a paragraph.</p>
                </div>
                <small>3 days ago</small>
            </div>
        </div>
    </div>
</div>