.category-wrapper {

    .page-heading {
        color: #333;

    }
}


.dark {
    .page-heading {
        color: #d0d2d6 !important;

    }
}

.btn-primary {
    background-color: rgb(64, 112, 244) ;
}