.category-wrapper {

    .page-heading {
        color: #333;

    }

    .icon{
        width: 44px;
        height: 44px;
        background-color: #E9ECEF;
    }

    .list-group-item{
        display: flex;
        align-items:flex-start;
        gap: 9px;
    }
}


.dark {
    .page-heading {
        color: #d0d2d6 !important;

    }
}

.btn-primary {
    background-color: rgb(64, 112, 244) ;
}