<div class="container-fluid category-wrapper ">
    <div class="row">
        <div class="col-12 mb-2  d-flex justify-content-between">
            <div class="flex">
                <h4 class="page-heading">Categories</h4>
                <input class="form-control ms-2" type="search" [(ngModel)]="searchTerm" (input)="filterCategories()"
                    placeholder="Search" aria-label="Search">
            </div>
            <button type="button" class="btn btn-primary btn-sm" (click)="openAddCategoryMdl()">Add Category</button>
        </div>
    </div>

    <div class="card mb-2" *ngFor="let category of paginatedCategories">
        <div class="card-body">
            <div class="d-flex align-items-center mb-1">
                <h5 class="card-title mb-0">{{ category.title }}</h5>
                <div class="icon ms-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" id="category">
                        <path fill="none" d="M0 0h24v24H0V0z"></path>
                        <path class="primary-color"
                            d="M11.15 3.4L7.43 9.48c-.41.66.07 1.52.85 1.52h7.43c.78 0 1.26-.86.85-1.52L12.85 3.4c-.39-.64-1.31-.64-1.7 0z">
                        </path>
                        <circle class="secondary-color" cx="17.5" cy="17.5" r="4.5"></circle>
                        <path class="primary-color"
                            d="M4 21.5h6c.55 0 1-.45 1-1v-6c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v6c0 .55.45 1 1 1z">
                        </path>
                    </svg>
                </div>
            </div>

            <p>{{category.description}}
            </p>
            <div class="w-100 d-inline-flex gap-1 justify-content-end">

                <button type="button" class="btn-flat btn-flat-danger active" data-bs-toggle="button"
                    aria-pressed="true">
                    <i class='bx bx-trash'></i>
                </button>
                <button type="button" class="btn-flat btn-flat-secondary">
                    <i class='bx bx-edit'></i>
                </button>
            </div>


        </div>
    </div>

</div>