<!-- sidebar.component.html -->
<nav class="sidebar locked">
  <div class="logo_items flex">
    <span class="nav_image">
      <img src="../../../../assets/images/log-back-e.svg" alt="logo_img" />
    </span>
    <span class="logo_name">Examify</span>
    <i class="bx bx-lock-alt" id="lock-icon" title="Unlock Sidebar"></i>
    <i class="bx bx-x" id="sidebar-close"></i>
  </div>

  <div class="menu_container">
    <div class="menu_items">
      <ul class="menu_item">
        <div class="menu_title flex">
          <span class="title">Dashboard</span>
          <span class="line"></span>
        </div>
        <li class="item" *ngFor="let item of menu">
          <a class="link flex" [routerLink]="item.url" routerLinkActive="active">
            <i class="bx {{item.icon}}"></i>
            <span>{{item.title}}</span>
          </a>
        </li>
      </ul>

    </div>

    <div class="sidebar_profile flex">
      <span class="nav_image">
        <img src="assets/images/profile.jpg" alt="profile_img" />
      </span>
      <div class="data_text">
        <span class="name">David Oliva</span>
        <span class="email">david&#64;gmail.com</span>
      </div>
    </div>
  </div>
</nav>