<!-- <div class="main-menu sidebar " [ngClass]="{'sidebar-expanded': isExpanded, 'sidebar-collapsed': !isExpanded}">
    <ul class="nav-list">
        <li>
            <button type="button" (click)="toggleSidebar() "> menu</button>

        </li>
        <li *ngFor="let item of menu" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{exact: true}">
            <a [routerLink]="item.url">
                <i class="bi {{item.icon}} "></i>
                <span class="links_name">{{item.title}}</span>
            </a>
            <span class="tooltip">{{item.title}}</span>
        </li>


    </ul>
</div> -->
<div class="sidebar" [ngClass]="{'open': isExpanded, 'close': !isExpanded}">
    <div class="logo-details">
        <div class="d-flex align-items-center">
            <i class='bx bi bi-alexa icon'></i>
            <div class="logo_name">Examify</div>
        </div>
        <div>
            <i *ngIf="!isExpanded" class="bi bi-lock" id="btn" (click)="toggleSidebar()"></i>
            <i *ngIf="isExpanded" class="bi bi-unlock" id="btn" (click)="toggleSidebar()"></i>
        </div>
    </div>
    <ul class="nav-list">
        <li *ngFor="let item of menu">
            <a [routerLink]="item.url" routerLinkActive="active" href="#home">
                <i class="bi {{item.icon}} "></i>
                <span class="links_name">{{item.title}}</span>
            </a>
            <span class="tooltip">{{item.title}}</span>
        </li>
    </ul>
</div>