.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    color: #6e6b7b;
    background: #fff;
    padding: 6px 6px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.sidebar .close {
    width: 78px;
}

.sidebar .logo-details {
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.sidebar .logo-details .icon {
    margin-right: 1rem;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 17px;
    transition: all 0.4s ease;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar.close .logo-details #btn {
    left: 0;
}


.sidebar {

    .nav-list {
        margin-top: 20px;
        height: 100%;
        padding-left: 10px;
    }

    li {
        position: relative;
        margin: 8px 0;
        list-style: none;
    }

    li a {
        display: flex;
        border-radius: 4px;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        color: #625f6e;
        padding: 10px 15px;
        line-height: 1.45;
        font-size: 15px;
        font-weight: 500;
    }


    li i {
        margin-right: 10px;
    }

    li .links_name {
        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
        transition: 0.4s;
    }

    li .tooltip {
        position: absolute;
        top: -20px;
        left: calc(100% + 15px);
        z-index: 3;
        background: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        padding: 6px 12px;
        border-radius: 4px;
        font-size: 15px;
        font-weight: 400;
        opacity: 0;
        white-space: nowrap;
        pointer-events: none;
        transition: 0s;
        color: #6e6b7b;
    }

    li:hover .tooltip {
        opacity: 1;
        pointer-events: auto;
        transition: all 0.4s ease;
        top: 50%;
        transform: translateY(-50%);
    }

    li a.active {
        background: linear-gradient(118deg, #e9f0f5, rgba(233, 240, 245, .7));
        box-shadow: 0 0 10px 1px #e9f0f5b3;
        color: #216093;
    }

    a:hover:not(.active) {
        background: linear-gradient(118deg, #e9f0f5, rgba(233, 240, 245, .7));
        box-shadow: 0 0 10px 1px #e9f0f5b3;

    }

}

.sidebar.open {
    li .tooltip {
        display: none;
    }

    li a .links_name {
        opacity: 1;
        pointer-events: auto;
    }
}

@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}

.dark-theme {
    .sidebar {
        background: #11101D;
        color: #FFF;

        li a {
            color: #fff;
        }
    }

    li a.active {
        background: (118deg, rgb(233, 240, 245, 1), rgba(233, 240, 245, 1));
        box-shadow: none;
        color: #216093;
        font-weight: 600;
    }

    a:hover:not(.active) {
        background: linear-gradient(118deg, #e9f0f5, rgba(233, 240, 245, .7));
        box-shadow: none;
        color: #216093;
        font-weight: 600;
    }

}