<nav class="navbar fixed-top navbar-expand-sm bg-dark" [class.scroll-active]="isScrolled" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Sanjay</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end bg-dark text-white" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" (click)="scrollToSection('about')" data-bs-dismiss="offcanvas">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="scrollToSection('project')" data-bs-dismiss="offcanvas">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="scrollToSection('contact')" data-bs-dismiss="offcanvas">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>


<!-- Hero Section for Desktop/Larger Screens -->
<section class="hero-section" style="margin-top: 60px;">
    <div class="container-fluid hero-section-container">
        <div class="row ">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                <img src="./assets/portfilo.images/hero-section-imag-Photoroom.png" alt="Profile Picture"
                    class="img-fluid profile-image rounded-circle">
                <p class="intro-text">Hey There, I'm Sanjay</p>
                <h3 class="display-4"><span class="highlight-text" #typedElement></span> Developer</h3>
                <p class="description-text">
                    Are you looking for a Full Stack Developer who works hard but stays humble?
                </p>
                <div class="btn-container">
                    <button class="btn btn-warning me-2">Resume</button>
                    <button class="btn btn-outline-light">Hire me</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section #about style="margin-top: 100px;">
    <h2>About Section</h2>
</section>

<section #project style="margin-top: 100px;">
    <h2>Project Section</h2>
</section>

<section #contact style="margin-top: 100px;">
    <h2>Contact Section</h2>
</section>