<div class="container-fluid signup-form">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4 signup-img p-3">
                <img src="assets\template-img\signup-image.jpg" class="img-fluid " alt="img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">Welcome to <code>Examify!</code> 👋</h1>
                    <p class="card-text">
                        Please sign-in to your account and start the adventure
                       </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>