<div class="container-fluid signup-form">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mb-3">
                <div class="row">
                    <div class=" col-12  signup-img ">
                        <img src="../../../../assets/template-img/sign-up.png" class="" alt="img">
                    </div>
                    <div class=" col-12">
                        <div class="card-body">
                            <h1 class="card-title"><b>Sign up to </b> <code> Examify!</code> 👋</h1>
                            <p class="card-text">
                                Make your Exam management easy and fun!
                            </p>
                            <form [formGroup]="userSignupForm" (ngSubmit)="onSubmit()">

                                <div class="form-group form-group-margin">
                                    <label for="firstName" class="form-label">User Name<span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="userName" formControlName="userName" />
                                    <span class="text-danger"
                                        *ngIf="userName?.touched && userName?.errors?.['required']">
                                        User Name is required
                                    </span>
                                    <span class="text-danger" *ngIf="userName?.errors?.['usernameTaken']">
                                        User Name is already taken
                                    </span>
                                </div>

                                <div class="form-group form-group-margin">
                                    <label for="firstName" class="form-label">First Name <span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="firstName"
                                        formControlName="firstName" />
                                    <span class="text-danger"
                                        *ngIf="firstName?.touched && firstName?.errors?.['required']">
                                        First Name is required
                                    </span>
                                </div>

                                <div class="form-group form-group-margin ">
                                    <label for="lastName" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="lastName" formControlName="lastName" />
                                </div>
                                <div class="form-group form-group-margin">
                                    <label for="email" class="form-label">Email<span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="email" formControlName="email" />
                                    <span class="text-danger" *ngIf="email?.touched && email?.errors?.['required']">
                                        Email is required
                                    </span>
                                    <span class="text-danger" *ngIf="email?.touched && email?.errors?.['email']">
                                        Enter valid email address
                                    </span>
                                </div>
                                <div class="form-group form-group-margin">
                                    <label for="password" class="form-label">Password<span
                                            class="text-danger">*</span></label>
                                    <input type="password" class="form-control" id="password"
                                        formControlName="password" />
                                    <span class="text-danger"
                                        *ngIf="password?.touched && password?.errors?.['required']">
                                        Password is required
                                    </span>
                                </div>

                                <div class="form-group form-group-margin">
                                    <label for="confirmPassword" class="form-label">Confirm Password <span
                                            class="text-danger">*</span></label>
                                    <input type="password" class="form-control" id="confirmPassword"
                                        formControlName="confirmPassword" />
                                    <span class="text-danger"
                                        *ngIf="confirmPassword?.touched && confirmPassword?.errors?.['required']">
                                        Confirm Password is required
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="confirmPassword?.touched && userSignupForm.errors?.['passwordMismatch']">
                                        Passwords doesn't match
                                    </span>
                                </div>
                                <div class="form-group form-group-margin">
                                    <label for="phone" class="form-label">Phone No.<span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="phone" formControlName="phone" />
                                    <span class="text-danger" *ngIf="phone?.touched && phone?.errors?.['required']">
                                        phone is required
                                    </span>
                                </div>
                                <div class="text-center form-group-margin">

                                    <button type="submit" class="btn btn-warning"
                                        [disabled]="!userSignupForm.valid">Sign up</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>