.contents {
    position: relative;
    background: #E4E9F7;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.contents.sidebar-expanded {
    left: 250px;
    width: calc(100% - 250px);
}

.contents.sidebar-collapsed {
    left: 78px;
    width: calc(100% - 78px);
}