// .container {
//     display: flex;
// }

.contents {
    position: relative;
    background: #E4E9F7;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

/* Define styles for the expanded state */
.contents.sidebar-expanded {
    left: 200px;
    width: calc(100% - 200px);
}

/* Define styles for the collapsed state */
.contents.sidebar-collapsed {
    /* Your collapsed styles here */
}