// .btn {
//     display: inline-block;
//     font-weight: 400;
//     text-align: center;
//     padding: .786rem 1.5rem;
//     font-size: 1rem;
//     line-height: 1;
// }

.btn-primary {
    background-color: #0d6efd;

    &:hover {
        box-shadow: 0 1px 20px 1px rgba(13, 110, 253, 0.6);
    }

    &:active:focus {
        background-color: rgb(13, 110, 253, 0.8) !important;
    }

    &:active::after {
        transform: scale(2.5);
        opacity: 0;
        transition: transform 0.5s ease, opacity 0.8s;
    }
}



.btn-success {
    border-color: #28c76f !important;
    background-color: #28c76f !important;
    color: #fff !important;
}

.btn-success:hover {
    box-shadow: 0 1px 20px 1px rgb(140, 232, 182, 0.6);
}

.btn-success:active:focus {
    background-color: rgb(40, 199, 111, 0.8) !important;
}

.btn-success:active::after {
    transform: scale(2.5);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.8s;
}


.btn-outline-success {
    border-color: #28c76f !important;
    color: #28c76f !important;

    span {
        cursor: pointer !important;
    }

    &:hover {
        background-color: rgba(40, 199, 111, 0.2);
        color: #28c76f
    }

    &:active:focus {
        background-color: rgba(40, 199, 111, 0.3);
        color: #28c76f
    }

    &:active::after {
        transform: scale(2.5);
        opacity: 0;
        transition: transform 0.5s ease, opacity 0.8s;
    }
}

// flat button scss<>
.btn-flat {
    background-color: transparent;
    border-radius: 5px;
    padding: 4px 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none !important;
}

.btn-flat-md {
    background-color: transparent;
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none !important;
}


.btn-flat-danger {
    color: rgb(220, 52, 53);

    &:hover {
        background-color: rgba(220, 52, 53, .2);
    }

    &:active {
        background-color: rgba(220, 52, 53, .2);
    }

    &:active:focus {
        background-color: rgba(220, 52, 53, .3);
    }

    &:active::after {
        transform: scale(2.5);
        opacity: 0;
        transition: transform 0.5s ease, opacity 0.8s;
    }
}

.btn-flat-secondary {
    color: #707070;

    &:hover {
        background-color: rgba(130, 134, 139, 0.2);
    }

    &:active:focus {
        background-color: rgba(130, 134, 139, .3);
    }

    &:active::after {
        transform: scale(2.5);
        opacity: 0;
        transition: transform 0.5s ease, opacity 0.8s;
    }
}

/// flat button </>
/// 
/// 
.dark {
    .btn-flat-secondary {
        color: #D0D2D6 !important;
    }
}