.dark {
    background: #000;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #D0D2D6;
    }

    p {
        color: #D0D2D6;
    }


    .card {
        // background-color: rgba(35, 35, 35, 1);
        background-color: #212529;

    }

    //dropdown pop menu csss
    .dropdown-menu {
        background-color: #232323;

        .dropdown-item {
            color: #b4b7bd;
        }

        .dropdown-divider {
            border-color: #3b4253;
        }
    }


    //end dropdown pop menu css 

    .text-muted {
        color: floralwhite !important;
    }

    .form-control {
        background-color: #212529 !important;
        border: 1px solid #495057;
        color: #dee2e6 !important;
    }

    .input {
        background-color: #212529 !important;
    }


    label.form-label {
        color: #dee2e6 !important;
    }

    input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px #232323 inset !important;
        -webkit-text-fill-color: #b4b7bd !important;
    }

    //////////////pop model scss

    .modal-content {
        background-color: #292b2c;
        color: white;
    }

    .close {
        color: white;
    }

    .light-blue-backdrop {
        background-color: 0 4px 24px 0 #5cb3fd;
    }



    .navbar {
        background-color: #2b3035 !important;
        box-sizing: border-box;
        color: #fff !important;

        li .nav-item {
            color: #fff !important;
        }

        a.nav-link {
            color: #fff !important;
        }
    }

    .nav-item.active .nav-link {
        font-weight: 600;
        border-radius: 200px;
        background-color: rgb(199, 221, 251, 0.1) !important;
        color: rgb(0, 92, 187) !important;
    }

    .hover:hover {
        border-radius: 200px;
        background-color: rgb(199, 221, 251, 0.1) !important;
        color: #005CBB !important;
    }
}