.dark-theme {
    background: rgba(10, 6, 10, 1);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #fff;
    }

    p {
        color: #fff;
    }


    .card {
        background-color: rgba(35, 35, 35, 1);
        // background-color: #2f2f2f;
    }

    .text-muted {
        color: floralwhite !important;
    }

    .form-control {
        background-color: #212529 !important;
        border: 1px solid #495057;
        color: #dee2e6;
    }

    .input {
        background-color: #212529 !important;
    }


    label.form-label {
        color: #dee2e6 !important;
    }



    //////////////pop model scss

     .modal-content {
        background-color: #292b2c;
        color: white;
    }

    .close {
        color: white;
    }

    .light-blue-backdrop {
        background-color: #5cb3fd;
    }

}