<div class="container-fluid category-wrapper ">
    <div class="row">
        <div class="col-12 col-md-6 mb-2  d-flex justify-content-between">
            <h4 class="page-heading mb-0">Questions Of {{title}}</h4>
        </div>
        <div class="col-12 col-md-6 mb-2 flex justify-content-end">
            <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/admin/quizzes/add-question',qId,title]">Add
                question</button>
        </div>

        <div class="col-12 mb-2" *ngFor="let question of questions ; let i=index">
            <div class="card">
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col-12 d-flex flex-column flex-sm-row align-items-start mb-2">
                            <p class="question-style"><span>Q {{i + 1}}&#x29; </span></p>
                            <p class="ms-0 ms-sm-3 mb-0 mt-2 mt-sm-0">
                                {{ question.content }}
                            </p>
                        </div>
                        <div class="col-6 d-flex align-items-center ps-4">
                            <p class=" question-style">
                                <span> 1&#x29;</span>
                                {{question.option1}}
                            </p>
                        </div>

                        <div class="col-6 d-flex align-items-center ps-4">
                            <p class=" question-style">
                                <span> 2&#x29;</span>
                                {{question.option2}}
                            </p>
                        </div>
                        <div class="col-6 d-flex align-items-center ps-4">
                            <p class=" question-style">
                                <span> 3&#x29;</span>
                                {{question.option3}}
                            </p>
                        </div>
                        <div class="col-6 d-flex align-items-center ps-4">
                            <p class=" question-style">
                                <span> 4&#x29;</span>
                                {{question.option4}}
                            </p>
                        </div>

                    </div>
                </div>
                <div class="card-footer ">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <h6>Correct Answer : {{question.answer}} </h6>
                        </div>
                        <div class="col-md-6 col-12 flex justify-content-end ">
                            <button type="button" class="btn-flat btn-flat-danger active" data-bs-toggle="button"
                               (click)="onDelete(question.quesId)"  aria-pressed="true">
                                <i class='bx bx-trash'></i>
                            </button>
                            <button type="button" class="btn-flat btn-flat-secondary">
                                <i class='bx bx-edit'></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>