/* You can add global styles to this file, and also import other style files */
@import './@core-scss/variables.scss';
@import './@core-scss/core.scss';
@import './@core-scss/dark-theam.scss';
@import 'bootstrap/scss/bootstrap';
@import "~bootstrap/dist/css/bootstrap.css";
@import "@fontsource/dm-sans";



html,
body {
    height: 100%;
    margin: 0;
    font-family: "DM Sans";
    background: #f8f8f8;

}

.round {
    border-radius: 1.5rem;
}


.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    padding: .786rem 1.5rem;
    font-size: 1rem;
    line-height: 1;
}

.card {
    box-shadow: 0 4px 24px 0 rgba(34, 41, 47, .1);
    transition: all .3s ease-in-out, background 0s, color 0s, border-color 0s;
    border: none;
}

input .form-control {
    display: block;
    width: 100%;
    height: 2.714rem;
    padding: .438rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    border-radius: .357rem;

}