<div class="container-fluid signin-form" style="min-height: 100hv">
    <div class="row">
        <div class="col-md-6  offset-md-3 col-12 ">
            <div class="card">
                <div class="card-body ">
                    <h3 class="card-title text-center m-1">LOG IN</h3>
                    <form [formGroup]="userLoginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group form-group-margin">
                            <label for="email" class="form-label">User Name*</label>
                            <input type="text" class="form-control" id="userName" formControlName="userName" />
                            <span class="text-danger" *ngIf="userName?.touched && userName?.errors?.['required']">
                                Email is required
                            </span>

                            <span class="text-danger" *ngIf="userName?.touched && userName?.errors?.['userName']">
                                Enter valid email address
                            </span>
                        </div>
                        <div class="form-group form-group-margin">
                            <label for="password" class="form-label">Password*</label>
                            <input type="password" class="form-control" id="password" formControlName="password" />
                            <span class="text-danger" *ngIf="password?.touched && password?.errors?.['required']">
                                Password is required
                            </span>
                        </div>

                        <div class="text-center form-group-margin">
                            <button type="submit" class="btn btn-warning" [disabled]="!userLoginForm.valid">
                                Sign In
                            </button>
                        </div>

                        <div class="text-center form-group-margin">
                            <!-- <button type="button" (click)=" showSuccess() "></button> -->
                            Not a member? <a routerLink="../signup">Register</a>
                        </div>

                        <div class="alert" [ngClass]="alertType === 0 ? 'alert-success' : 'alert-danger'"
                            *ngIf="alertMessage !== ''">
                            {{ alertMessage }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>