.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    overflow-x: hidden;
  }
  
  .app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  
  .content-container {
    flex: 1; 
    overflow-y: auto; 
    padding-top: 50px; 
  }
