<app-navbar></app-navbar>

<div class="container-fluid">
    <header class="homepage-header">
        <div class="row mt-5">
            <div class="col">
               <h1 class="main-heading"> Welcome to Examify</h1> 
               <h6 class="sub-heading-1">Your Ultimate Exam Management Platform</h6>
            </div>
        </div>
    </header>
</div>

<ng-template #demoModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="dateOfBirth">Date of birth</label>
                <div class="input-group">
                    <input id="dateOfBirth" name="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd"
                        ngbDatepicker #dp="ngbDatepicker">
                    <button type="button" class="btn btn-outline-secondary bi bi-calendar"
                        (click)="dp.toggle()"></button>
                </div><i class="bi bi-calendar3-event-fill"></i>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>