.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensure the page takes up the full height of the viewport */
  }
  
  .app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  
  .content-container {
    flex: 1; /* Take up remaining vertical space */
    overflow-y: auto; /* Allow content to be scrolled if it overflows */
    padding-top: 50px; /* Adjust this value to match the height of your navbar */
  }
